.about {
    align-items: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.about h2 {
    margin-bottom: 1.5em;
}

.about span {
    font-weight: 900;
}

.about_content {
    align-items: center;
    border-radius: 1em;
    box-shadow: #f2ff7c 0px 4px 5px 0px;
    backdrop-filter: blur(30px);
    justify-content: center;
    margin: auto;
    padding: 1em 1em;
    width: 60%;
}

.about p {
    color: #fff;
    margin: 5%;
    margin-bottom: 2em;
    line-height: 1.5;
    text-align: center;
}

.about .italic {
    color: var(--color_primary_text);
}

.about a {
    margin-top: 2em;
    padding: 10px 15px;
    width: auto;
}

/* <=========== breakpoints ==========>*/

@media (max-width: 700px) {
    .about {
        margin-left: 1.5em;
        margin-right: 1.5em;
        width: auto;
    }

    .about_content {
        width: auto;
    }
}
