.register {
    text-align: center;
}

.register h1 {
    margin-bottom: 1em;
}

.register p {
    margin-bottom: 1.5em;
}

@media (max-width: 768px) {
    .register p {
        font-size: 1.2em;
    }
}

