.register {
  text-align: center;
  padding-bottom: 2em;
}

.register h1 {
  padding-top: 4em;
  margin-bottom: 0.5em;
  font-size: 2.5em;
}

.register p {
  margin-bottom: 1.5em;
}

@media (max-width: 768px) {
  .register p {
    font-size: 1.2em;
  }
}
