.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}

.dashboard p {
    /* color: #aaa; */
    color: #b47c00;
    margin-bottom: 1em;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

.post_header,
.post_row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;    
}

.post_header {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    /* border-bottom: 2px solid #f5ff31; */
}

.post_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #eee;
    /* border-bottom: 1px solid #f5ff31; */
}

.post_row p {
    /* color: #000; */
    color: var(--color_primary_text);

}

.post_row button,
.post_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.8em;
}

.post_row button {
    height: 31px;
}

/* <========== breakpoints ==========> */

@media (max-width: 991px) {
    .post_row button {
        width: auto;
        height: auto;
    }
}

@media (max-width: 768px) {
    .noposts p {
        margin-bottom: 3em;
    }
}

@media (max-width: 400px) {
    .post_row p {
        font-size: 0.9em;
    }

    .post_row button {
        height: 25px;
        font-size: 0.7em;
    }
  }


