.dashboard {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 60%;
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}

.dashboard p {
    color: #b47c00;
    line-height: 1.3;
    margin-bottom: 1em;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

.post_header {
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.post_header,
.post_row {
    display: flex;
    justify-content: space-between;
    padding: 10px ;     
    width: 80%;
}

.post_header span {
    margin: 0 7em ;
}

.post_row {
    border-bottom: 1px solid #eee;
    flex-wrap: wrap;
}

.post_row button,
.post_row a {
    font-size: 0.9em;
    height: 30px;
    height: auto;
    margin: 0 5px;
    width: 100px;
    width: auto;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
    .dashboard {
        width: auto;
    }
    
    .post_header span {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .noposts p {
        margin-bottom: 3em;
    }
}

@media (max-width: 500px) {
    .post_header,
    .post_row {
        width: 94%;
    }

    .post_row p {
        font-size: 1em;
    }

    .post_row button {
        font-size: 0.9em;
        height: auto;
        width: auto;
    }
  }


