.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
}

.home .header_home {
  background: #09090b;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  height: 24em;
  width: 100vw;
  position: relative;
  padding: 7em 2em;
}

.header_home .title_header {
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 2em;
}

.header_home p {
  color: #fafafa;
  font-size: 1.1em;
  margin-bottom: 1em;
  text-align: left;
}

.header_home .header_icons {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
}

.header_icons .linkedin,
.github,
.instagram,
.email {
  font-size: 2em;
}

.search_session {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.search_form {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 3em;
  gap: 1em;
}

.search_form input {
  background-color: #09090b;
  border: #161616 0.1em solid;
  border-radius: 0.6rem;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  outline: none;
  padding: 0 1em;
  color: #fafafa;
  height: 3em;
  width: 70%;
  transition: all ease 0.1s;
}

.search_form input:hover {
  background: none;
  border: #fde047 solid 0.1em;
}

.button_icon {
  display: flex;
  height: 2.6em;
  align-items: center;
  padding: 0 0.5em;
  border: none;
  border-radius: 0.6rem;
  transition: all ease 0.2s;
  background-color: #fde047;
}

.button_icon:hover {
  background-color: #eab308;
  border-radius: 0.6rem;
  font-style: #fffe00;
}

.search_icon {
  color: #000000;
  font-size: 1.8em;
}

.grid_posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

/* <========== breakpoints ==========> */
@media (min-width: 768px) {
  .home .header_home {
    margin-bottom: 3em;
    height: 23em;
    width: 100vw;
    position: relative;
    padding: 8em 8em;
  }

  .search_session {
    padding: 0 5.6em;
  }

  .search_form input {
    height: 3em;
    width: 53%;
  }

  .grid_posts {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5.6em;
  }
}

@media (min-width: 1024px) {
  .home .header_home {
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    height: 26em;
    padding-top: 9em;
  }

  .header_home .title_header {
    text-align: center;
    font-size: 3em;
  }

  .header_home .p_header_home {
    text-align: center;
    padding-bottom: 1em;
  }

  .header_home .header_icons {
    justify-content: center;
  }

  .search_form input {
    font-size: 1em;
    padding: 0 1em;
    height: 2.5em;
    width: 39%;
  }

  .button_icon {
    padding: 0 0.7em;
    height: 2.7em;
  }

  .grid_posts {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5.6em;
  }
}
