.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.home h1 {
    margin-bottom:  2em;
}

.search_form {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.search_form input {
    margin-right: 10px;
    width: 50%;
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
    .home {
        margin: 0 20%;
    }

    h1 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .search_form {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .home {
        margin: 0 2em;    
    }
}




@media (max-width: 460px) {
    

    .search_form input {
        width: 100%;
        margin-bottom: 2em;
    }
}