.edit_post {
    text-align: center;
}

.edit_post h2 {
    font-size: 2.2em;
    margin-bottom: 1em;
} 

.edit_post p {
    /* color: #aaa; */
    margin-bottom: 2em;
}

.edit_post .preview_title {
    margin-bottom: 0.3em;
    /* color: #000; */
    font-weight: bold;
}

.edit_post .image_preview {
    max-width: 600px;
    max-height: 500px;
    margin-bottom: 1em;
    border-radius: 15px;
} 

/* <========== breakpoints ==========> */

    @media (max-width: 850px) {
        .edit_post .image_preview {
            width: 100%;
        }
    }
