.edit_post {
    text-align: center;
}

.edit_post h2 {
    font-size: 2.2em;
    margin-bottom: 1em;
} 

.edit_post p {
    margin-bottom: 2em;
}

.edit_post .preview_title {
    font-weight: bold;
    margin-bottom: 0.3em;
}

.edit_post .image_preview {
    border-radius: 15px;
    box-shadow: 0 0 1em #333333;
    width: 100%;
    margin-bottom: 1em;
} 


