.post_container {
    text-align: center;
}

.post_container h1, img, p, h3 {
    margin-bottom: 1em;
}

.post_container img {
    max-width: 600px;
    max-height: 500px;
}

.post_container .tags {
    display: flex;
    justify-content: center;
}

.tags span {
    font-weight: bold;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
    .post_container img {
        width: 55vh;
    }
  } 

  @media (max-width: 460px) {
    .post_container img {
        width: 40vh;
    }

    .post_container p {
        text-align: center;
        max-width: 100%;
        margin: auto;
    }
  }

