.post_container {
    text-align: center;
}

.post_container p {
    color: #fff;
}

.post_container h1, img, p, h3 {
    margin-bottom: 1em;
}

.post_container img {
    max-width: 600px;
    max-height: 500px;
}

.post_container .tags {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.tags span {
    font-weight: bold;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
    .post_container img {
        width: 55vh;
    }

    .post_container p {
        margin-bottom: 1em;
    }
    
    .post_container h3 {
        font-size: 1.3em;
    }
  } 

  @media (max-width: 460px) {
    .post_container img {
        width: 45vh;
    }
  }

