.footer {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edf3f6;
}

/* <========== breakpoints ==========> */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
} 

@media (max-width: 991px) {
    .footer {
        padding: 2em 3%;
    }
}


