.footer {
    align-items: center;
    background-color: #09090b;
    display: flex;
    flex-direction: column;
    gap: .8em;
    height: 180px;
    justify-content: center;
    padding-top: 1em;
    width: 100%;
}
.footer
.box_footer_icons {
    display: flex;
    gap: 1em;
}

.footer 
.footer_icons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

 .footer_icons
 .linkedin,
 .github,
 .instagram,
 .email {
    font-size: 2em;
 }

/* <========== breakpoints ==========> */

@media (max-width: 1200px) {
    html {
        font-size: 75%;
    }
} 

@media (max-width: 991px) {
    .footer {
        height: 150px;
    }
}


