.footer {
    align-items: center;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    height: 130px;
    justify-content: center;
    width: 100%;
}

.footer h3 {
    padding-top: 1em;
}

/* <========== breakpoints ==========> */

@media (max-width: 1200px) {
    html {
        font-size: 75%;
    }
} 

@media (max-width: 991px) {
    .footer {
        height: 100px;
        padding: 2em 3%;
    }
}


