.header {
    display: flex;
    box-shadow: var(--color_primary_text) 0px -2px 10px 0px;
    /* box-shadow: rgba(0, 0, 0, .15 ) 0px -2px 10px 0px; */
    justify-content: space-between;
    align-items: center;
    padding: 1.8em 1.8em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-weight: bold;
    /* background-color: #f6fcff; */
    background-color: #161616;
}

.brand {
    font-size: 1.2em;
    font-weight: 600;
    cursor: default;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.active {
    /* background-color: #000; */
    background-color: #ffe200;
    color: #492800;
}

.active:hover {
    color: #492800;
}

/* #menu_icon {
    font-size: 3.6rem;
    color: #000; 
} */

.btn_menu {
    border: none;
    display: none;
    background: none;
    cursor: pointer;
    height: 2em;
    position: relative;
    width: 2.4em;
}

.btn_menu .bar {
    border-radius: 3px;
    background: var(--color_primary_text);
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.7s;
    width: 28px;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
    .btn_menu {
        display: block;
    }

    .btn_menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(405deg);
    }
   
    .btn_menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .btn_menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-405deg);
    }

    .links_list {
        flex-direction: column;
        position: absolute;
        top: 90px;
        /* top: -20%; */
        top: 100%;
        left: 0;
        width: 100%;
        /* background-color: #f6fcff; */
        background-color: #161616;
        /* background-color: rgba(246, 252, 255, 0.5); */
        /* background: rgba(0, 0, 0, .1); */
        /* backdrop-filter: blur(20px); */
        /* border-top: .1rem solid rgba(0, 0, 0, .2); */
        /* border-bottom: .1rem solid rgba(0, 0, 0, .2); */
        /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2); */
        overflow: hidden;
        height: 0;
        transition:  .6s ease;
    }

    .links_list.active {
        height: 19em;
        /* right: 0; */
    }

    .links_list li {
        margin: 1.5em 0 0.8em;
        text-align: center;
        opacity: 0;
        transition: .3s ease;
        transform: translateY(-50px);
        justify-content: center;
        font-size: 1em;
    }

    .links_list li.animation_menu {
        opacity: 1;
        transition-delay: calc(.20s * var(--i));
        transform: translateY(0);
    }

    .links_list a   {
        font-size: 1.3em;
    }

    .links_list button {
        font-size: 1.3em;
    }  
  }

  @media (max-width: 460px) {
    .brand {
        font-size: 1.3em;
    }
  }



