.header {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15 ) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5em 2em; */
    padding: 2em 2em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-weight: bold;
    /* background-color: #f6fcff; */
    background-color: rgba(246, 252, 255, 0.5);
}

 /* .navbar {
    display: flex;
}  */

.header::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    z-index: -1;
}

.brand {
    font-size: 1.2em;
    font-weight: 600;
    cursor: default;
    /* position: absolute; */
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.active {
    background-color: #000;
    color: #fff;
}

#menu_icon {
    font-size: 3.6rem;
    color: #000; 
}

.btn_menu {
    border: none;
    display: none;
    background: none;
    cursor: pointer;
    height: 2em;
    position: relative;
    width: 2.4em;
}

.btn_menu .bar {
    border-radius: 3px;
    background: #000;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.7s;
    width: 28px;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
    .header {
        /* padding: 2em 3%; */
    }

    .btn_menu {
        display: block;
    }
  }



