.post_detail {
    /* width: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    margin-bottom: 2.5em;
    /* align-items: center; */
    /* justify-content: left; */
    /* margin: auto; */
}

.post_detail img {
    max-width: 600px;
    max-height: 500px;
    border-radius: 15px;
}


.post_detail h2 {
    margin-bottom: 0.4em;
}

.post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.tags p {
    margin-right: .5em;
    margin-bottom: .1em;
    color: #fff;
}

.tags span {
    font-weight: bold;
}

.created_by {
    font-style: italic;
    /* color: #444; */
    color: #b47c00;
    font-size:  1em;
    margin-bottom: 1em;    
}

/* <========== breakpoints ==========> */
@media (max-width: 768px) {
    .post_detail {
        width:  100%;
        
    }

    .post_detail img {
        width: 100%;
    }

    .post_detail .tags {
        width: auto;
    }
} 

@media (max-width: 570px) {
    .post_detail img {
        width: 100%;
    }
}



@media (max-width: 460px) {
    .tags p {
        font-size: 1.2em;
    }

    .created_by {
        font-size: 1.1em;
    }
}



