.post_detail {
    align-items: center;
    display: flex;
    max-width: 300px;    
}

.post_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.post_box img {
    box-shadow: 0 0 .4em #666666;
    border-radius: 15px;
    height: 260px;
    max-width: 100%;
    object-fit: fill;
    transition: .5s ease;
}

.post_box img:hover {
    transform: scale(1.1);
} 

.post_box .tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.post_box h2 {
    margin-bottom: .4em;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}

.tags p {
    background-color:#222222;
    border-radius: .5em;
    color: #CCCCCC;
    margin-right: .5em;
    margin-bottom: .3em;
    padding: .3rem;
    font-size: 1em;
}

.tags span {
    font-weight: bold;
}

.created_by {
    color: #b47c00;
    font-style: italic;
    font-size:  1em;
    margin-bottom: .9em;    
}

.box_see_post {
    margin-top: 1em;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
    .post_detail .tags {
        width: auto;
    }
} 

@media (max-width: 570px) {
    .post_detail img {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .tags p {
        font-size: 1.2em;
    }

    .created_by {
        font-size: 1.1em;
    }
}



