.section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9em 2em 0;
}

h2 {
  font-size: 1.7em;
}

.search {
  font-size: 1em;
  color: #fff;
}

.noposts {
  text-align: center;
}

.noposts p {
  padding-bottom: 1em;
}

.grid_posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

/* <========== breakpoints ==========> */

@media (max-width: 768px) {
  .search_container {
    min-height: 50vh;
  }

  .noposts p {
    font-size: 1.3em;
  }
}
