* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  --color_primary_text: #fffe00;
}

html {
  overflow-x: hidden;
}

body {
  /* background-color: #f6fcff; */
  background-color: #161616;
  font-family: 'Montserrat', sans-serif;
  width: 100%;  
  color: var(--color_primary_text);
}

  p {
    color: #b47c00;
  }
  

input::placeholder,
textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #aaa;
}

input:focus,
textarea:focus {
  outline: none;
}

  
a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  /* color: #000; */
  color: #fffe00;;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
}

a:hover,
nav button:hover {
  color: #f6ffbc
}

/* FORM STYLE */
form {
  max-width: 40%;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

label span {
  margin-bottom: .3em;
  font-weight: bold;
  text-align: left;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
  padding: .8em 0;
  background-color: transparent;
  color: #fff;
}

.btn {
  /* background-color: #1a8918; */
  background-color: #ffe200;
  /* color: #fff; */
  color: #000;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  margin-top: 1em;
}

.btn.btn_dark {
  /* background-color: #000; */
  background-color: transparent;
  border-radius: 10px;
  border: 1px #f5ff31 solid;
  color: #f5ff31;
}

.btn.btn.btn_dark:hover {
  background-color: #492800;
  color: #f5ff31;
}

.btn.btn_outline {
  background-color: transparent;
  border-radius: 0;
  color: #f5ff31;
  border: 1px solid #f5ff31;
  padding: 7px 30px;
}

.btn:hover {
  background-color: #f5ff31;
  color: #492800;
}

.btn.btn_outline:hover {
  background-color: #492800;
  color: #f5ff31;
}

.btn.btn_danger:hover {
  background-color: #dc3545;
  color: #fff;
}

button[disabled] {
  background-color: #946100;
  color: #f6ffbc;
}
 
.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
  margin-top: 1.5em;
}

/* <========== breakpoints ==========> */
@media (max-width: 768px) {
  html {
      font-size: 75%;
  }
}

@media (max-width: 550px) {
  .btn.btn_outline {
    padding: 6px 10px;
    width: auto;  
    height: auto;

  }
  
  .btn {
    font-size: 1.2em;
    width: 100%;
  }
}

@media (max-width: 460px) {
  form {
    max-width: 80%;
    margin: 0 auto;
  }  
}







