.create_post {
    text-align: center;
}

.create_post h2 {
    font-size: 2.2em;
    margin-bottom: 1em;
} 

.create_post p {
    margin-bottom: 2em;
}

/* <========== breakpoints ==========> */
@media (max-width: 768px) {
    .create_post p {
        font-size: 1.2em;
    }

    span {
        font-size: 1.1em;
    }
  }
  
  @media (max-width: 460px) {
      
  }