.create_post {
    text-align: center;
}

.create_post h2 {
    font-size: 3em;
    margin-bottom: .5em;
} 

.create_post p {
    color: #b47c00;
    margin-bottom: 2em;
}

/* <========== breakpoints ==========> */
@media (max-width: 768px) {
    .create_post p {
        font-size: 1.2em;
    }

    span {
        font-size: 1.1em;
    }
  }
  
  